@import "tailwindcss";

body {
    background-color: #f8f8fa;
}

@font-face {
    font-family: Caprasimo;
    src: url("/fonts/Caprasimo-Regular.ttf");
}


@font-face {
    font-family: Poppins Medium;
    src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Mogra;
    src: url("/fonts/Mogra-Regular.ttf");
}


@theme {
    --font-Capra : Caprasimo;
    --font-Poppins : Poppins;
    --font-Mogra : Mogra;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
